{extend name="common/index" /}
{block name="headers"}
<link rel="stylesheet" href="__HOME__/css/address.css" />
<script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
<script src="http://webapi.amap.com/maps?v=1.3&key=5433dcc2bc76f4bfae5b9b20179efac5"></script>
<script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
{/block}
{block name="main"}

<div style="height: 50px;"></div>
<div id="map" style="z-index: 99"></div>
<div id="contract">
    <div class="contractTitle">
        <ul>
            <li>
                <p>联系我们</p>
            </li>
            <li>
                <img src="__HOME__/img/contactTitle.png" class="center-block img-responsive"/>
            </li>
        </ul>
    </div>
    <div class="container contact">
        <div class="row">

            {volist name="data" id="vo"}
            <div class="col-xs-10 col-xs-offset-2 col-sm-offset-3 col-sm-6 col-md-offset-0 col-md-4">
                <ul>
                    <li>
                        <p>{$vo.title}</p>
                    </li>
                    <li>
                        <a href="javascript:;" style="width: 205px;">查看该店地图</a>
                    </li>
                    {$vo.content}
                </ul>
            </div>
            {/volist}

        </div>
    </div>
</div>
{/block}

{block name="footer"}
    {include file="public/footer2" /}
<script type="text/javascript" src="__HOME__/js/address.js"></script>
{/block}
