{extend name="common/index" /}
{block name="headers"}
<link rel="stylesheet" href="__HOME__/css/aboutUs.css?v=1" />
{/block}
{block name="main"}

<div style="height: 50px;"></div>
<div id="bannerabout" class="banner">
    <img src="__PUBLIC__/{$top.pic}" />
</div>
<div id="hNav" align="center">
    <ul>
        <li>
            <a href="javascript:;" class="hNav-active" onclick="abstract()" id="abstract">公司简介</a>
        </li>
        <li>
            <a href="javascript:;" onclick="develop()" id="develops">发展历程</a>
        </li>
        <li>
            <a href="javascript:;" onclick="Honor()" id="honors">公司荣誉</a>
        </li>
    </ul>
</div>
<div id="honor" class="container" style="display: none;">
    <ul>

        {volist name="yu" id="vo" key="k"}
        {if condition="$k eq 1"}
        <li>
            <div class="hboxfirst">
                <div class="companyl floatl">
                    <p>{$vo.title}</p>
                </div>
                <div class="companylcl floatl">
                    {$vo.contentdes}
                </div>
                <div class="clearl"></div>
            </div>
        </li>
        {else/}
        <li>
            <div class="hbox">
                <div class="cl floatl">
                    <p>{$vo.title}</p>
                </div>
                <div class="cr floatl">
                    <p>{$vo.contentdes}</p>
                </div>
                <div class="clearl"></div>
            </div>
        </li>
        {/if}
        {/volist}
        <li>
            <div class="picBox">
                <div class="swiper-container swiper-container-pic">
                    <div class="swiper-wrapper">
                        {volist name="rong" id="r"}
                        <div class="swiper-slide">
                            <img src="__PUBLIC__/{$r.pic}" />
                        </div>
                        {/volist}
                    </div>
                </div>
                <a href="javascript:;" id="leftOne"><img src="__HOME__/img/leftOne.png"/></a>
                <a href="javascript:;" id="RightOne"><img src="__HOME__/img/rightOne.png"/></a>
            </div>
        </li>
    </ul>
</div>
<div id="develop" class="container" style="display: none;">
    <ul>
        {volist name="fa" id="v1"}
        <li>
            <div class="hbox">
                <div class="cl floatl">
                    <p>{$v1.title}</p>
                </div>
                <div class="cr floatl">
                    <p>{$v1.content}</p>
                </div>
                <div class="clearl"></div>
                {if condition="$v1['thumb'] neq ''"}
                <div class="clp floatl">
                </div>
                <div class="crp floatl">
                    <img src="__PUBLIC__/{$v1.thumb}" />
                </div>
                <div class="clearl"></div>
                {/if}
            </div>
        </li>
        {/volist}



    </ul>
</div>
<div id="brief">
    <div class="firstPart">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                    <div class="firstContent">
                        <ul>
                            <li>
                                <p>{$caprice.title}</p>
                                <img src="__HOME__/img/who.png" class="pices"/>
                            </li>
                          
                            <li>
                                {$caprice.content}
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                    <div class="firstBox">
                        <img src="__PUBLIC__/{$caprice.thumb}" />
                        <img src="__HOME__/img/firstPic.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="secondPart">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                    <div class="secondBox">
                        <img src="__PUBLIC__/{$team.thumb}" />
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                    <div class="secondContent">
                        <ul>
                            <li>
                                <p>{$team.title}</p>
                                <img src="__HOME__/img/team.png" class="pices" />
                            </li>
                            <li>
                                <p>{$team.content}</p>
                            </li>
                            <li>
                                <div class="number">
                                    {$team.contentdes}
                                </div>
                                <div class="clearboth"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thridPart">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                    <div class="ourServe">
                        <p>我们的服务</p>
                        <img src="__HOME__/img/serve.png" class="pices" />
                    </div>
                </div>

                {volist name="server" id="vv"}
                <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4">
                    <div class="serBox">
                        <ul>
                            <li>
                                <img src="__PUBLIC__/{$vv.thumb}" class="img-responsive" />
                            </li>
                            <li>
                                <a href="###">{$vv.title}</a>
                                <span></span>
                            </li>
                            <li>
                                <p>{$vv.content}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                {/volist}

            </div>
        </div>
    </div>
    <div class="fourPart">
        <div class="container">
            <div class="myPro">
                <p>我们的产品</p>
                <img src="__HOME__/img/products.png" class="pices" />
            </div>
            <div class="myProShow">
                <img src="__PUBLIC__/{$product.thumb}" />
                <p>{$product.content}</p>
            </div>
        </div>
    </div>
    <div class="fivePart">
        <div class="container">
            <div class="fiveContent">
                <ul>
                    <li>
                        <p>我们的文化</p>
                        <img src="__HOME__/img/wen.png" class="pices"/>
                    </li>
                    <li>
                        <p>{$content}</p>
                    </li>
                </ul>
            </div>
            <div class="row">
                {volist name="wen" id="wv"}
                <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0">
                    <div class="fiveShow">
                        <ul>
                            <li>
                                <img src="__PUBLIC__/{$wv.thumb}" class="center-block img-responsive"/>
                            </li>
                            <li>
                                <p>{$wv.title}</p>
                            </li>
                            <li>
                                <p>{$wv.contentdes|}</p>

                            </li>
                        </ul>
                    </div>
                </div>
                {/volist}
            </div>
        </div>
    </div>
</div>

{/block}

{block name="footer"}
{include file="public/footer2" /}
{/block}

