{extend name="common/index" /}
{block name="headers"}
<link rel="stylesheet" href="__HOME__/css/productDetails.css" />
{/block}
{block name="main"}
		<div style="height: 50px;"></div>
		<div id="proShow">
			<div class="" style="height: 50px;">
			</div>
			<div class="container" style="position: relative;">
				<div class="row">
					<div class="col-xs-6 col-sm-7">
						<img src="__PUBLIC__/{$images[0]}" id="big_thumb" class="img-responsive center-block" />
					</div>
					<div class="rightContent col-xs-6 col-sm-5">
						<ul>
							<li>
								<p>{$list.title}</p>
							</li>
							<li>
								<p>{$list.subtitle}</p>
							</li>

						</ul>
					</div>
				</div>
				<div class="types">
					<ul>

                        {volist name="images" id="vo"}
                            {if condition="$key eq 0"}
                            <li>
                                <a href="javascript:;" class="typeActive"><img src="__PUBLIC__/{$vo}" width="65px" height="60px"/></a>
                            </li>
                            {else /}
                            <li>
                                <a href="javascript:;"><img src="__PUBLIC__/{$vo}" width="65px" height="60px"/></a>
                            </li>
                            {/if}
                        {/volist}
					</ul>
				</div>
			</div>
            <div class="" style="height: 50px;">
            </div>
		</div>
		<div id="produce">
			<div class="proTitle">
				<p>-产品参数-</p>
			</div>
			<div class="container sizeBox" style="padding: 10px">
				{$list.parameter}
				<div class="clearl"></div>
			</div>
			<div class="proTitle">
				<p>-产品详情-</p>
			</div>
			<div class="container">
				<div class="proBoxes">
                    {$list['content']}
				</div>
			</div>
			
			<div class="proTitle">
				<p>-其他产品-</p>
			</div>
			<div class="proList">
				 <div class="container">
				 	<div class="row">
						{volist name="other" id="v"}
				 		<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
				 			<div class="picBox">
				 				<img src="__PUBLIC__/{$v.thumb}" class="img-responsive"/>
				 				<div class="picOn">
				 					<p>{$v['title']}</p>
				 					<a href="{:url('products/productDetails')}?catid=21&id={$v['id']}"><img src="__HOME__/img/right.png"  class="center-block"/></a>
				 				</div>
				 			</div>
				 		</div>
						{/volist}

				 	</div>
				</div>
			</div>
		</div>
{/block}

{block name="footer"}
{include file="public/footer2" /}
<script type="text/javascript">
    $('.types ul li').on('click',function(res){
        $('.typeActive').removeClass('typeActive');
        var src=$(this).children('a').children('img').attr('src');
        $(this).children('a').addClass('typeActive');
        $('#big_thumb').attr('src',src);
    })
</script>
{/block}