{extend name="common/header" /}
{block name="headers"}
<link rel="stylesheet" href="__HOME__/css/profile.css">
<title>{$info.title}</title>
{/block}
{block name="main"}

        <div class="content">
            <div class="introduce" style="background: url('__PUBLIC__/{$art['k0']['thumb']}');">
                <div class="box">
                    <div class="about-us">
                        <p class="title" data-scroll-reveal="enter left">{$art['k0']['title']}</p>
                        <div class="swiper-container about-us-content" id="scroll">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" data-scroll-reveal="enter top over 2s move 120px">
                                    {$art['k0']['content']}
                                </div>
                            </div>
                            <!-- Add Scroll Bar -->
                            <div class="swiper-scrollbar"></div>
                        </div>
                    </div>
                    <div class="work-process ">
                        <div class="work-process-content">
                            <div class="title flex-center-vertically">
                                {$art['k0']['en_title']}
                            </div>
                            <div class="work-process-list">
                                <div class="circle flex-center-vertically myanimate1" data-scroll-reveal="enter left over 2s move 20px">
                                    meet&agree
                                </div>
                                <div class="circle flex-center-vertically myanimate2" data-scroll-reveal="enter top over 2s move 20px">
                                    idea&concept
                                </div>
                                <div class="circle flex-center-vertically myanimate3" data-scroll-reveal="enter bottom over 2s move 20px">
                                    design&create
                                </div>
                                <div class="circle flex-center-vertically myanimate4" data-scroll-reveal=" enter right over 2s move 20px">
                                    build&construction
                                </div>
                            </div>
                        </div>
                        <div class="description" data-scroll-reveal="enter right over 3s move 300px">
                            {$art['k0']['desc']}
                        </div>
                    </div>
                </div>
            </div>
            <div class="leadership">
                {volist name="img" id="vo"}
                <img src="__PUBLIC__{$vo}" alt="" data-scroll-reveal="enter bottom over 2s and move 200px">
                {/volist}
            </div>
            <div class="team">
                <p class="title" data-scroll-reveal="enter top over 3s move 50px">MEET OUR FEARLESS TEAM</p>
                <p class="small-title" data-scroll-reveal="enter bottom over 3s move 120px">
                    - J&P Designers -
                </p>
                <ul class="team-photos" id="team-photos">
                    {volist name="team" id="vo" key="i"}
                        <li class="member hover-item" style="width: 12.5%">
                            <img src="__PUBLIC__{$vo.thumb}" alt="" data-scroll-reveal="{$i}>animate.length?animate[{$i}%animate.length]:animate[{$i}-1]">
                            <div class="info flex-center-vertically">
                                <p class="name">{$vo.title}</p>
                                <p class="position">{$vo.content}</p>
                            </div>
                        </li>
                    {/volist}
                </ul>
            </div>
            <div class="client">
                <div class="client-title">
                    <p class="title" data-scroll-reveal="enter left">CLIENT</p>
                    <p class="small-title" data-scroll-reveal="enter right over 2s move 120px">「 排名不分先后 」</p>
                </div>
                <div class="client-list">
                    <ul style="overflow: hidden;">
                        {volist name="hz_team" id="vo" key="i"}
                        <li data-scroll-reveal="{$i}%2!=0?'enter right over 1.5s after '+({$i}/7)+'s move 1000px':'enter left over 1.5s after '+({$i}/7)+'s move 1000px' ">{$vo.en_title} {$vo.title}</li>
                        {/volist}
                    </ul>
                </div>
            </div>
        </div>
{/block}

{block name="footer"}
{include file="common/footer" /}
<script type="text/javascript">
//    window.onload = function() {
//        var vm = new Vue({
//            el: "#container",
//            data: {
//                animate: ['enter top',
//                    'enter right after 0.5s',
//                    'enter bottom over 1s and move 300px after 0.3s',
//                    'enter top over 0.5s and move 200px',
//                    'enter left over 1s and move 100px',
//                    'enter bottom over 1s and move 300px after 0.3s',
//                    'enter top over 3s after 0.5s',
//                    'enter left',
//                    'enter right over 1s and move 100px',
//                    'enter top over 0.5s and move 200px',
//                    'enter left over 3s after 0.5s',
//                    'enter right after 0.5s',
//                    'enter top over 3s after 0.5s',
//                    'enter bottom over 1s and move 100px',
//                    'enter right over 0.5s and move 200px',
//                    'enter bottom over 1s and move 300px after 0.3s',
//                    'enter right after 0.5s',
//                    'enter top over 3s after 0.5s',
//                    'enter bottom over 1s and move 100px',
//                    'enter right over 0.5s and move 200px',
//                    'enter left',
//                    'enter top over 3s after 0.5s',
//                    'enter right over 1s and move 100px'
//                ],
//            },
//            methods: {
//                checkWidth: function () {
//                    var parentNode = document.getElementById('team-photos');
//                    var minWidth = 200;
//                    if (window.innerWidth <= 1280 && window.innerWidth > 1000) {
//                        minWidth = 160;
//                    } else if (window.innerWidth <= 1000) {
//                        minWidth = 140;
//                    } else if (window.innerWidth <= 800) {
//                        minWidth = 90;
//                    }
//                    var pranentWidth = parentNode.offsetWidth;
//                    var num = (pranentWidth / minWidth) | 0;
//                    var sur = pranentWidth % minWidth;
//                    var w = sur / num | 0;
//                    for (var i = 0; i < parentNode.childNodes.length; i++) {
//                        parentNode.childNodes[i].style.width = minWidth + w + 'px';
//                        parentNode.childNodes[i].style.height = (minWidth + w) / 232 * 360 + 'px';
//                    }
//                }
//            }
//
//        });

//        vm.$nextTick(function () {
//            window.onresize = function () {
//                vm.checkWidth();
//            }
//            this.checkWidth();
//            var scroll = new Swiper('#scroll', {
//                observer: true, //修改swiper自己或子元素时，自动初始化swiper
//                observeParents: true, //修改swiper的父元素时，自动初始化swiper
//                direction: 'vertical',
//                slidesPerView: 'auto',
//                freeMode: true,
//                scrollbar: {
//                    el: '#scroll .swiper-scrollbar',
//                    draggable: true,
//                    snapOnRelease: false,
//                },
//                mousewheel: true,
//            });
//            if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
//                (function () {
//                    window.scrollReveal = new scrollReveal({reset: false});
//                })();
//            }
//            ;
//        })

//    }
</script>

{/block}

