{extend name="common/header" /}
{block name="headers"}
<link rel="stylesheet" href="__HOME__/css/profile.css">
<title>{$info.title}</title>
{/block}
{block name="main"}

        <div class="content">
            <div class="introduce" style="background: url('__PUBLIC__/{$art['k0']['thumb']}');">
                <div class="box">
                    <div class="about-us">
                        <p class="title" data-scroll-reveal="enter left">{$art['k0']['title']}</p>
                        <div class="swiper-container about-us-content" id="scroll">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" data-scroll-reveal="enter top over 2s move 120px">
                                    {$art['k0']['content']}
                                </div>
                            </div>
                            <!-- Add Scroll Bar -->
                            <div class="swiper-scrollbar"></div>
                        </div>
                    </div>
                    <div class="work-process ">
                        <div class="work-process-content">
                            <div class="title flex-center-vertically">
                                {$art['k0']['en_title']}
                            </div>
                            <div class="work-process-list">
                                <div class="circle flex-center-vertically myanimate1" data-scroll-reveal="enter left over 2s move 20px">
                                    meet&agree
                                </div>
                                <div class="circle flex-center-vertically myanimate2" data-scroll-reveal="enter top over 2s move 20px">
                                    idea&concept
                                </div>
                                <div class="circle flex-center-vertically myanimate3" data-scroll-reveal="enter bottom over 2s move 20px">
                                    design&create
                                </div>
                                <div class="circle flex-center-vertically myanimate4" data-scroll-reveal=" enter right over 2s move 20px">
                                    build&construction
                                </div>
                            </div>
                        </div>
                        <div class="description" data-scroll-reveal="enter right over 3s move 300px">
                            {$art['k0']['desc']}
                        </div>
                    </div>
                </div>
            </div>
            <div class="leadership">
                {volist name="img" id="vo"}
                <img src="__PUBLIC__{$vo}" alt="" data-scroll-reveal="enter bottom over 2s and move 200px">
                {/volist}
            </div>
            <div class="team">
                <p class="title" data-scroll-reveal="enter top over 3s move 50px">MEET OUR FEARLESS TEAM</p>
                <p class="small-title" data-scroll-reveal="enter bottom over 3s move 120px">
                    - J&P Designers -
                </p>
                <ul class="team-photos" id="team-photos">
                    {volist name="team" id="vo" key="i"}
                        <li class="member hover-item" style="width: 12.5%">
                            <img src="__PUBLIC__{$vo.thumb}" alt="" data-scroll-reveal="{$i}>animate.length?animate[{$i}%animate.length]:animate[{$i}-1]">
                            <!--<div class="info flex-center-vertically">-->
                                <!--<p class="name">{$vo.title}</p>-->
                                <!--<p class="position">{$vo.content}</p>-->
                            <!--</div>-->
                        </li>
                    {/volist}
                </ul>
            </div>
            <div class="client">
                <div class="client-title">
                    <p class="title" data-scroll-reveal="enter left">CLIENT</p>
                    <p class="small-title" data-scroll-reveal="enter right over 2s move 120px">「 排名不分先后 」</p>
                </div>
                <div class="client-list">
                    <ul style="overflow: hidden;">
                        {volist name="hz_team" id="vo" key="i"}
                        <li data-scroll-reveal="{$i}%2!=0?'enter right over 1.5s after '+({$i}/7)+'s move 1000px':'enter left over 1.5s after '+({$i}/7)+'s move 1000px' ">{$vo.en_title} {$vo.title}</li>
                        {/volist}
                    </ul>
                </div>
            </div>
        </div>
{/block}

{block name="footer"}
{include file="common/footer" /}
<script type="text/javascript">
    $(function(){
        for(var i=0;i<$('#team-photos li').length;i++)
        {
            var index = parseInt(i%5);
            switch(index){
                case 0:
                    $('#team-photos li').eq(i).find('img').attr('data-scroll-reveal','enter right and move 20px over 1.2s');
                    break;
                case 1:
                    $('#team-photos li').eq(i).find('img').attr('data-scroll-reveal','enter top and move 10px over 1.5s');
                    break;
                case 2:
                    $('#team-photos li').eq(i).find('img').attr('data-scroll-reveal','enter bottom and move 30px over 1.0s');
                    break;
                case 3:
                    $('#team-photos li').eq(i).find('img').attr('data-scroll-reveal','enter top and move 40px over 1.0s');
                    break;
                case 4:
                    $('#team-photos li').eq(i).find('img').attr('data-scroll-reveal','enter left and move 30px over 1.0s');
                    break;
            }
        }
        for(var j=0;j<$('.client-list ul li').length;j++)
        {
            if(j%2==0)
            {
                $('.client-list ul li').eq(j).attr('data-scroll-reveal','enter left and move 50px over 1s');
            }else{
                $('.client-list ul li').eq(j).attr('data-scroll-reveal','enter right and move 50px over 1s');
            }
        }

        //开启滑动动画
        if(!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
            (function() {
                window.scrollReveal = new scrollReveal({
                    reset: true
                });
            })();
        };
    })

</script>

{/block}

