<footer id="foot">
    <div class="middle">
        <img src="__HOME__/img/mtfoot.png" class="center-block img-responsive"  />
    </div>
    <div class="footBottom">
        <p>&copy;{$sArr["bah"]}</p>
    </div>
</footer>
<script type="text/javascript" src="__HOME__/js/meeting.js" ></script>
<script type="text/javascript" src="__HOME__/js/netShop.js" ></script>

<script type="text/javascript" src="__HOME__/js/product.js" ></script>
<script type="text/javascript" src="__HOME__/js/aboutUs.js" ></script>
</body>
</html>